.recipePreviewContainer {
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  column-gap: 30px;
  padding: 1rem;
}

.addBreadCollapseBtn {
  width: 100%;
  margin-top: 1rem;
}

.newRecipeDiv {
  background-color: #B2EBF2;
}

.formButtonFooter {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.floatRightBtnGroup {
  margin-left: auto;
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.infoTooltipButton {
  color: #29B6F6;
  margin-left: 5px;
}

.infoPopover .popover-header {
  background-color: #4FC3F7;
  border-bottom: 1px dashed white;
}

.addTimerModal .modal-content {
  background-color: #FFECB3;
}

.addTimerModal .modal-header {
  border-bottom: 1px solid #BDBDBD
}

.addTimerModal .modal-footer {
  border-top: 1px solid #BDBDBD
}

.addTimerModal input {
  background-color: #FFF8E1;
}

.addTimerModal input:active {
  background-color: #FFF8E1;
}

.addTimerModal input:focus {
  background-color: #FFF8E1;
}

.timerLimitInputGroup {
  width: 70%;
}