.themeBtn {
  background-color: #FFA726 !important;
  border: none !important;
}

.themeBtn:hover {
  background-color: #F57C00 !important;
}

.themeBtn:active.themeBtn:focus {
  background-color: #EF6C00 !important;
}

.primaryBtn {
  background-color: #42A5F5 !important;
  border: none !important;
}

.primaryBtn:hover {
  background-color: #1976D2 !important;
}

.primaryBtn:active.primaryBtn:focus {
  background-color: #1565C0 !important;
}

.ml-auto {
  margin-left: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
}

.twenty-pt {
  font-size: 20pt;
}

.primaryColorIcon {
  color: #EF6C00;
}

/* Modal styles */

.breadModal .modal-content {
  background-color: #FFECB3;
}

.breadModal .modal-header {
  border-bottom: 1px solid #BDBDBD
}

.breadModal .modal-footer {
  border-top: 1px solid #BDBDBD
}

.breadModal input {
  background-color: #FFF8E1;
}

.breadModal input:active {
  background-color: #FFF8E1;
}

.breadModal input:focus {
  background-color: #FFF8E1;
}

.squareButton {
  aspect-ratio: 1/1;
}